@charset "utf-8";
/* Default site styles. */
/*for centering the page on high resolution screens*/
div#middle, div#top, div#bottom {
  text-align: center;
}
div#footer, div#header, div#body {
  position: relative;
  margin: 0 auto;
  text-align: left;
}
/* site styles */
html, body {
  background-color: #F3F3F3;
  font-size: 95%;
  /* percent instead of em helps IE <=7 to scale text more moderately */

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #205AA7;
}
a:hover {
  text-decoration: underline;
}
.hidden {
  display: none !important;
}
/* header styles */
div#top {
  background: #2e2e2e;
  /* for non-css3 browsers */

  background: -moz-linear-gradient(top, #666666, #1d1d1d);
  /* FF 3.6+ */

  background: -ms-linear-gradient(top, #666666, #1d1d1d);
  /* IE10 */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #1d1d1d));
  /* Safari 4+, Chrome 2+ */

  background: -webkit-linear-gradient(top, #666666, #1d1d1d);
  /* Safari 5.1+, Chrome 10+ */

  background: -o-linear-gradient(top, #666666, #1d1d1d);
  /* Opera 11.10 */

  /* IE6 & 7 may not applying the gradient if the element does not have layout. hasLayout can be made true by adding zoom:1, which is an IE property and ignored by other browsers. */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', endColorStr='#1d1d1d');
  /* IE6 & IE7  */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', endColorStr='#1d1d1d')";
  /* IE8+  */

  background: linear-gradient(top, #666666, #1d1d1d);
  /* the standard */

}
div#top div#header img {
  margin: 5px;
}
div#top div#header img, div#top div#header h1 {
  vertical-align: middle;
}
div#top div#header h1 {
  display: inline;
  margin-right: 3%;
  color: #E5E5E5;
  font-family: 'DroidSansRegular', Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}
/* nav styles */
div#nav,
div#nav > ul,
div#nav > ul > li,
div#nav > ul > li > a {
  display: inline-block;
  /* fix for IE 7 and below unsupport for inline-block */

  zoom: 1;
  *display: inline;
}
div#nav {
  vertical-align: bottom;
  background-color: #666666;
  border-left: 1px solid #1d1d1d;
  border-right: 1px solid #1d1d1d;
  border-top: 1px solid #1d1d1d;
}
div#nav > ul > li > a {
  padding: .55em .8em .55em .8em;
  text-decoration: none;
  font-size: 1em;
  color: #F3F3F3;
  cursor: pointer;
}
div#nav > ul > li > a:hover, div#nav > ul > li > a:focus {
  background-color: #737373;
  color: #FFFFFF;
}
/* logout button */
a#logout {
  display: block;
  float: right;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
  color: #F3F3F3;
  cursor: pointer;
  padding: 0em .5em .2em .5em;
  margin: auto;
  vertical-align: middle;
}
a#logout:hover, a#logout:focus {
  color: #fff;
  background: #8f3429;
  /* for non-css3 browsers */

  background: -moz-linear-gradient(top, #fb6b5d, #8f3429);
  /* FF 3.6+ */

  background: -ms-linear-gradient(top, #fb6b5d, #8f3429);
  /* IE10 */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fb6b5d), color-stop(1, #8f3429));
  /* Safari 4+, Chrome 2+ */

  background: -webkit-linear-gradient(top, #fb6b5d, #8f3429);
  /* Safari 5.1+, Chrome 10+ */

  background: -o-linear-gradient(top, #fb6b5d, #8f3429);
  /* Opera 11.10 */

  /* IE6 & 7 may not applying the gradient if the element does not have layout. hasLayout can be made true by adding zoom:1, which is an IE property and ignored by other browsers. */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb6b5d', endColorStr='#8f3429');
  /* IE6 & IE7  */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb6b5d', endColorStr='#8f3429')";
  /* IE8+  */

  background: linear-gradient(top, #fb6b5d, #8f3429);
  /* the standard */

  outline: none;
}
a#logout:active {
  background: #a33c31;
  /* for non-css3 browsers */

  background: -moz-linear-gradient(top, #a33c31, #b35745);
  /* FF 3.6+ */

  background: -ms-linear-gradient(top, #a33c31, #b35745);
  /* IE10 */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a33c31), color-stop(1, #b35745));
  /* Safari 4+, Chrome 2+ */

  background: -webkit-linear-gradient(top, #a33c31, #b35745);
  /* Safari 5.1+, Chrome 10+ */

  background: -o-linear-gradient(top, #a33c31, #b35745);
  /* Opera 11.10 */

  /* IE6 & 7 may not applying the gradient if the element does not have layout. hasLayout can be made true by adding zoom:1, which is an IE property and ignored by other browsers. */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a33c31', endColorStr='#b35745');
  /* IE6 & IE7  */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a33c31', endColorStr='#b35745')";
  /* IE8+  */

  background: linear-gradient(top, #a33c31, #b35745);
  /* the standard */

  outline: none;
  color: #dadada;
}
/* footer styles */
div#bottom {
  line-height: 2.4em;
  /*vertically centers the text*/

  border-top: 2px solid #9a9a9a;
  background-color: #2e2e2e;
}
div#bottom div#footer {
  color: #E5E5E5;
  font-size: .9em;
  overflow: auto;
  background-color: #2e2e2e;
}
div#bottom div#footer a {
  color: #99CCFF;
}
div#bottom div#footer div#footerLeftCont {
  float: left;
  width: 100%;
}
div#bottom div#footer div#footerLeftCont div#footerLeft {
  margin-right: 14em;
  text-align: center;
  overflow: hidden;
}
div#bottom div#footer div#footerRight {
  float: left;
  width: 14em;
  margin-left: -14em;
}
div#bottom div#footer div#footerRight a {
  display: block;
  color: #E5E5E5;
}
div#bottom div#footer div#footerRight a:hover {
  text-decoration: none;
  color: #FFFFFF;
}
div#bottom div#footer div#footerRight a:focus {
  outline: none;
}
div#bottom div#footer div#footerRight a span {
  display: inline-block;
  /* fix for IE 7 and below unsupport for inline-block */

  zoom: 1;
  *display: inline;
  width: 2.455em;
  height: 2.455em;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
}
div#footerRight a:hover span img, div#footerRight a:focus span img {
  margin-left: -2.455em;
}
/*keep footer at the bottom of short length pages*/
html, body {
  height: 100%;
}
div#container {
  height: expression(this.height < 100% ? 100%: true);
  min-height: 100%;
  position: relative;
}
div#middle {
  padding-bottom: 2.4em;
}
div#bottom {
  width: 100%;
  height: 2.4em;
  position: absolute;
  bottom: 0;
}
/* mixins */
/* fonts */
@font-face {
  font-family: 'DroidSansRegular';
  src: url('fonts/DroidSans/DroidSans-webfont.eot?') format('eot'), url('fonts/DroidSans/DroidSans-webfont.woff') format('woff'), url('fonts/DroidSans/DroidSans-webfont.ttf') format('truetype'), url('fonts/DroidSans/DroidSans-webfont.svg#webfontw7zqO19G') format('svg');
  font-weight: normal;
  font-style: normal;
}
