/* Default site styles. */

#bodyContent {
    padding: 7px;
}

/*for centering the page on high resolution screens*/
#middle, #top, #bottom {
	text-align: center;
}

#footer, #header, #body {
	//required @layout. optional @layoutMax, @layoutMin for @layout = fluid. optional @layoutWidth for @layout = fixed.
	.layoutInner(@layout);//fixed or fluid with defaults.
	//.layoutInner(@layout, @layoutMax, @layoutMin);//fluid with named params
	//.layoutInner(@layout, @layoutWidth);//fixed with named param
	//position:relative; //removing fixes the ie7 bugs where the dropdown appears below body content and the shifting logo. haven't seen any side effects yet.
	margin: 0 auto;
	text-align: left;
}

html, body, #container, #top, #middle, #bottom {
	//required @layout. optional @layoutMin for @layout = fluid. optional @layoutWidth for @layout = fixed.
	.layoutOuter(@layout);//fixed or fluid with defaults.
	//.layoutOuter(@layout, @layoutMin);//fluid with named param
	//.layoutOuter(@layout, @layoutWidth);//fixed with named param
}

/* site styles */

html, body {
	background-color: #F3F3F3;
	font-size: @baseFontSize;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a { text-decoration:none; color: #205AA7; }
a:hover { text-decoration:underline; }

.hidden {
	display: none !important;
}

/* footer styles */

#bottom {
	line-height:@footerHeight; /*vertically centers the text*/
	border-top: 2px solid #9a9a9a;
	background-color: #2e2e2e;
	
	#footer {
	    color: #E5E5E5;
	    font-size: .9em;
	    overflow: auto;
	    background-color: #2e2e2e;
		
		a { color: #99CCFF; }
		
		#footerLeftCont {
            float: left;
            width:100%;
			
			#footerLeft {
	            margin-right:14em;
	            text-align:center;
	            overflow: hidden;
            }
        }
		
		#footerRight {
		    float:left;
		    width:14em;
		    margin-left:-14em;
			
			a {
			    display:block;
			    color: #E5E5E5;
				&:hover {
				    text-decoration:none;
				    color: #FFFFFF;
				}
				&:focus { outline: none; }
				//&:active { outline: none; }
				
				span {
				    .inlineblock(); 
				    width: 2.455em;
				    height:2.455em;
				    overflow:hidden;
				    vertical-align:middle;
				    margin-right: 5px;
				}
			}
		}
    }
}

#footerRight a:hover span img, #footerRight a:focus span img {
    margin-left: -2.455em;
}

/*keep footer at the bottom of short length pages*/
html, body {
	height:100%;
}

#container {
	height: ~"expression(this.height < 100% ? 100%: true)";
	min-height:100%;
	position:relative;
}

#middle {
	padding-bottom: @footerHeight;
}

#bottom {
  width:100%;
  height:@footerHeight;
  position:absolute;
  bottom:0;
  /* this line fixes the footer */
  .fixedFooter();
}

/* mixins */

.layoutInner(fluid, @max: none, @min: none) {
    .maxminWidth(@max, @min);
}

.layoutInner(fixed, @width: 1280px) {
    width: @width;
}

.layoutOuter(fluid, @min: none) {
    .minWidth(@min);
}

.layoutOuter(fixed, @min: 1280px) { 
    .minWidth(@min);
}

.fixedFooter() {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  //z-index:2;
}

/* fonts */

@font-face {
    font-family: 'DroidSansRegular';
    src: url('fonts/DroidSans/DroidSans-webfont.eot?') format('eot'),
         url('fonts/DroidSans/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans/DroidSans-webfont.svg#webfontw7zqO19G') format('svg');
    font-weight: normal;
    font-style: normal;

}